@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  padding: 2px;
  color: #ffffff;
  margin: 0;
}

body {
  display: inline;
  background: #1b2027;
}

body #header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  height: 35px;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  border-bottom: 1px solid #2d2e2e;
  margin: 0;
}

body #header p {
  border-bottom: 2px solid #5b5bd4;
}

body #header a {
  text-decoration: none;
}

body #content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #content .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80vh;
  width: 40px;
  background-color: #2d2e2e;
  border: 1px solid #1b2027;
  margin: 0;
  resize: horizontal;
  overflow: hidden;
  -webkit-transition: 0s;
  transition: 0s;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

body #content .menu:hover {
  width: 150px;
  -webkit-box-shadow: 0px 1px 10px black;
          box-shadow: 0px 1px 10px black;
}

body #content .menu:hover a {
  padding: 10px 10px;
  color: #ffffff;
}

body #content .menu a:first-child {
  margin-top: 1rem;
}

body #content .menu a {
  padding: 0px 10px;
  text-decoration: none;
  color: transparent;
  font-family: "Roboto", sans-serif;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

body #content .menu a:hover {
  background: #5b6569;
  border-left: 2px solid #5b5bd4;
}

body #content .menu .icon {
  -webkit-filter: invert(1);
          filter: invert(1);
  height: 20px;
}

body #content #content-frame {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: #2d2e2e;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 5px #5b6569;
          box-shadow: inset 0 0 5px #5b6569;
}

::-webkit-scrollbar-thumb {
  background: #5b5bd4;
}

.under {
  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background: #5b5bd4;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(http://source.unsplash.com/random) no-repeat;
  background-size: cover;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
  -webkit-animation-name: move;
          animation-name: move;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes move {
  from {
    background-size: 0%;
  }
  to {
    background-size: 100%;
  }
}

@keyframes move {
  from {
    background-size: 0%;
  }
  to {
    background-size: 100%;
  }
}

#overhora {
  color: aliceblue;
  padding-top: 30%;
  padding-left: 1%;
  text-shadow: 1px 2px 5px black;
  font-size: 70pt;
  -webkit-animation-name: move2;
          animation-name: move2;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

@-webkit-keyframes move2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes move2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#overdata {
  display: block;
  color: aliceblue;
  padding-left: 2%;
  text-shadow: 1px 2px 5px black;
  font-size: 20pt;
  -webkit-animation-name: move2;
          animation-name: move2;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.logo2 {
  position: absolute;
  background: #5b5bd4;
  border-bottom: 3px solid #1b2027;
  margin-top: 2%;
  margin-left: 90%;
  -webkit-box-shadow: 2px 5px 10px #1b2027;
          box-shadow: 2px 5px 10px #1b2027;
  -webkit-animation-name: move2;
          animation-name: move2;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#txtnotas {
  height: 300px;
  width: 98%;
  margin: 2% 1%;
}

body #links {
  height: 200px;
}

body #links #lin-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #links #lin-cont a {
  text-decoration: none;
  color: lightcyan;
  font-size: 10pt;
  text-shadow: 1px 1px 5px black;
  text-align: center;
}

body #links #lin-cont a p {
  padding: 5px;
}

body #links #lin-cont a p:hover {
  background: #5b6569;
  padding: 5px;
}

body #links #lin-cont a img {
  height: 40px;
  width: 35px;
}

textarea {
  color: #161614;
  font-weight: bolder;
}

.btn {
  border: none;
  padding: 5px;
  font-weight: bold;
  background: #5b5bd4;
  color: #ffffff;
}

.btn:hover {
  color: #161614;
  background: #5b6569;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body h1 {
  text-align: center;
}

body h2, body h3, body h4, body h6 {
  text-align: center;
  color: #5b6569;
}

body .contact {
  text-align: center;
  margin: 10px;
}

body .contact a {
  text-decoration: none;
  background-color: #2d2e2e;
  padding: 5px;
  font-size: 15pt;
}

body .contact a img {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  height: 20px;
  width: 20px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

body .contact a:hover {
  border-bottom: 2px solid #5b5bd4;
  background: #5b6569;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  width: 10%;
  margin: auto;
  border: 5px solid #5b6569;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .perfil:hover {
  border: 5px solid #04d361;
  width: 12%;
}
/*# sourceMappingURL=main.css.map */