@import "../sass/colors";
@import "../sass/fonts";

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  display: inline;
  background: $primarycolor;
  #header {
    display: block;
    width: 100%;
    font-family: "Roboto", sans-serif;
    color: $textcolor1;
    border-bottom: 1px solid $secondarycolor;
    padding: 5px;

    span p {
      display: inline;
      border-bottom: 2px solid $quartycolor;
    }
  }

  #content {
    display: flex;

    #menu {
      height: 500px;
      width: 150px;
      background-color: $quartycolor;
      padding: 5px;

     

      a {
        text-decoration: none;
        color: $textcolor1;
        font-family: "Roboto", sans-serif;
        border: 1px solid black;
        

        .icon{
            
            height: 20px;
        }

        &:hover{
            background: $secondarycolor;
        }

        
      }
     
    
     
    }

    #content-frame {
      display: flex;
      width: 100%;
      background-color: $secondarycolor;
    }
  }
}

