@import "../sass/colors";
@import "../sass/fonts";

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  padding: 2px;
  font-weight: bolder;
  color: $textcolor1;
  margin: 0;


}

body {
  display: inline;
  background: $primarycolor;




  #header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 45px;
    padding-right: 5px;
    font-family: "Roboto", sans-serif;
    color: $textcolor2;
    border-bottom: 1px solid $secondarycolor;
    margin: 0;
    background-image: url(../src/img/natal.png);
    background-repeat: no-repeat, repeat;
    background-size: 70pt;

    p {
      border-bottom: 2px solid $quartycolor;

    }

    a {
      text-decoration: none;
    }

  }

  #content {
    display: flex;
    padding: 5px;
    .menu {
      display: flex;
      flex-direction: column;
      height: 80vh;
      width: 2px;
      background-color: $secondarycolor;
      border: 1px solid $primarycolor;
      margin: 0;
      resize: horizontal;
      overflow: hidden;
      transition: 0s;
      transition-delay: 0.3s;
  


     /* &:hover {
        
        z-index: 5;
        width: 150px;
        box-shadow: 0px 1px 10px black;


        a {
          padding: 10px 10px;
          color: $textcolor1;
        }
      }

      a:first-child {
        margin-top: 1rem;


      }


      a {
        padding: 0px 10px;
        text-decoration: none;
        color: transparent;
        font-family: "Roboto", sans-serif;
        transition-delay: 0.3s;
        border-left: 2px solid $secondarycolor;


        &:hover {
          background: $terciarycolor;
          border-left: 2px solid $quartycolor;

        }


      }
*/


      .icon {
        filter: invert(1);
        height: 20px;

      }


    }

    #content-frame {
      display: flex;
      width: 100%;
      background-color: $secondarycolor;
    


    }
  }
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $terciarycolor;

}

::-webkit-scrollbar-thumb {
  background: $quartycolor;

}

.under {

  display: inline-block;
  width: 100%;
  vertical-align: middle;
  background: linear-gradient(90deg, $quintycolor 0%, $quartycolor 35%, $secondarycolor 100%);
  text-align: center;
  font-size: 12px;

 

}

#overlay {

  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, $quintycolor 0%, $quartycolor 35%, $secondarycolor 100%) no-repeat;
  background: url(../src/img/back.jpg) no-repeat;
  background-size: cover;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
  animation-name: move;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;



  @keyframes move {
    from {
      background-size: 0%;
    }

    to {
      background-size: 100%;
    }
  }
}

#overhora {
  color: aliceblue;
  padding-top: 30%;
  padding-left: 1%;
  text-shadow: 1px 2px 5px black;
  font-size: 70pt;
  animation-name: move2;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;


  @keyframes move2 {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }

}

#overdata {
  display: block;
  color: aliceblue;
  padding-left: 2%;
  text-shadow: 1px 2px 5px black;
  font-size: 20pt;
  animation-name: move2;
  animation-duration: 5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;



}

.logo2 {
  position: absolute;
  background: $quartycolor;
  border-bottom: 3px solid $primarycolor;
  margin-top: 2%;
  margin-left: 90%;
  box-shadow: 2px 5px 10px $primarycolor;
  animation-name: move2;
  animation-duration: 3s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;


}

footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}




a.active {
  color: $quartycolor;
  text-decoration: underline;

}

.card_main{
    
  margin: 20px;
  width: 200px;
  height: 200x;
  border: 1px solid gray;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 2px 2px 5px $textcolor2;

}

.card_main p{

  font-size: 0.7rem;
}

#content_page{

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-items: center;

}

#tips{

  
  margin: 10px;
  border-radius: 12px;
  box-shadow: 5px 5px  10px black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 98%;
  
}