@import "../sass/colors";
@import "../sass/fonts";

* {
 box-sizing: border-box ;
 font-family: 'Roboto', sans-serif; 
 padding: 2px;
 color: $textcolor1;
 margin: 0;

 
  
}

body {
  display: inline;
  background: $primarycolor;




  #header {
    display:flex;
    justify-content: space-between;
    width: 100%;
    height: 35px;
    font-family: "Roboto", sans-serif;
    color: $textcolor1;
    border-bottom: 1px solid $secondarycolor;
    margin: 0;

    p{
      border-bottom: 2px solid $quartycolor;
    }
    a{
        text-decoration: none;
    }

  }

  #content {
    display: flex;
    
    .menu {
      display: flex;
      flex-direction: column;
      height: 80vh;
      width: 40px;
      background-color: $secondarycolor;
      border: 1px solid $primarycolor;
      margin: 0;
      resize: horizontal;
      overflow: hidden;
      transition:  0s;
      transition-delay: 0.3s;
      
    
      &:hover{
      
      width: 150px;
      box-shadow: 0px 1px 10px black;
      
      
      a{
        padding: 10px 10px ;
        color: $textcolor1;
      }
        }
      
      a:first-child{
        margin-top: 1rem;

      } 
     

      a {
        padding: 0px 10px ;
        text-decoration: none;
        color: transparent;
        font-family: "Roboto", sans-serif;
        transition-delay:  0.3s;
        
        

        &:hover{
            background: $terciarycolor;
            border-left: 2px solid $quartycolor;
            
        }

        
      }

      .icon{
        filter: invert(1);
        height: 20px;
     }
     
    
     
    }

    #content-frame {
      display: flex;
      width: 100%;
      background-color: $secondarycolor;

      
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px $terciarycolor;
  
}

::-webkit-scrollbar-thumb {
  background: $quartycolor;
  
}

.under{
  
   display: inline-block;
   width: 100%;
   vertical-align: middle;
   background: $quartycolor;
   

}

#overlay {
  position: fixed; 
  display: none; 
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(http://source.unsplash.com/random) no-repeat;
  background-size: cover;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
}

  #overhora{
    color: aliceblue;
    padding-top: 30%;
    padding-left: 1%;
    text-shadow: 1px 2px 5px black;
    font-size: 70pt;
    

    

}

#overdata{
  display: block;
  color: aliceblue;
  padding-left: 2%;
  text-shadow: 1px 2px 5px black;
  font-size: 20pt;
  
  

}

.logo2{
    position: absolute;
    background: $quartycolor;
    border-bottom: 3px solid $primarycolor;
    margin-top: 2%;
    margin-left: 90%;
    box-shadow: 2px 5px 10px $primarycolor;


}

footer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#txtnotas{
  height: 300px;
  width: 98%;
  margin: 2% 1%;
}