
$primarycolor: #1b2027;
$secondarycolor: #2d2e2e;
$terciarycolor: #5b6569;
$quartycolor: #5b5bd4;
$quintycolor: #04d361;
$textcolor1: #ffffff;
$textcolor2: #161614;

/*

$primarycolor: #f6f7f8;
$secondarycolor: #818181;
$terciarycolor: #6b99ce;
$quartycolor: #3582e7;
$quintycolor: #04d361;
$textcolor1: #000000;
$textcolor2: #030303;
*/

