

$primarycolor: #1b2027;
$secondarycolor: #2d2e2e;
$terciarycolor: #5b6569;
$quartycolor: #5b5bd4;
$quintycolor: #04d361;
$hexacolor: #fff133de;
$textcolor1: #ffffff;
$textcolor2: #161614;

/*

$primarycolor: #f6f7f8;
$secondarycolor: #818181;
$terciarycolor: #6b99ce;
$quartycolor: #3582e7;
$quintycolor: #04d361;
$hexacolor: #fff133de;
$textcolor1: #000000;
$textcolor2: #030303;



natal



$primarycolor: #f6f7f8;
$secondarycolor: #77886d;
$terciarycolor: #ce726b;
$quartycolor: #e73535;
$quintycolor: #d3cf04;
$hexacolor: #fff133de;
$textcolor1: #0c0c0c;
$textcolor2: #f0e8e8;

*/