body{

    h1{
        text-align: center;
        padding: 20px;
    }
    .contact{
        
    text-align: center;

    a{
        text-decoration: none;
        background-color: $secondary;
    
    }
    

       
}


.perfil{

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 10%;
    margin: auto;
    border: 5px solid $quartycolor;
    box-sizing: content-box;
    padding: 5px ;

    
}