body {

  #links {

    height: 200px;

    #lin-cont {

      display: flex;
      //justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      a {

        text-decoration: none;
        color: lightcyan;
        font-size: 8pt;
        text-align: center;



        p {
          padding: 5px;


          &:hover {
            background: $terciarycolor;
            border-radius: 5px;
            padding: 5px;
          }
        }

        img {
          height: 40px;
          width: 35px;

        }

      }

    }
  }

}