.content {
  padding: 0;
  margin: 10px;
  display: flex;
  box-sizing: content-box;
  flex-direction: column;
}

#content_text {
  width: 98%;
  padding-top: 0;

}


#notes {
  height: 290px;
  width: 100%;
  padding-top: 0;
  color: $textcolor2;
  font-weight: bolder;
  resize: none;

  &:focus {
    outline: none;
    color: $quartycolor;
  }


}


#minhaLista {

  margin: 0;
  padding: 0;
  border: none;
  width: 98%;
  display: flex;
  flex-direction: row;
  overflow-x: scroll;


}


#titulo {
  height: 45px;
  width: 100%;
  margin: 0;
  resize: none;
  border-bottom: none;
  padding-bottom: 0;
  font-size: 15pt;
  color: $textcolor2;

  &:focus {
    outline: none;
    color: $quartycolor;
  }
}



.btn {
  border: none;
  padding: 5px;
  font-weight: bold;
  background: $quartycolor;
  color: $textcolor1;
  border-radius: 5px;

}

.btn:hover {
  color: $textcolor2;
  background: $terciarycolor;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;

}


.btn2 {
  
  background: $secondarycolor;
  color: $textcolor1;
  min-width: 120px;
  max-width: 120px;
  padding: 5px;
  font-size: 12px;
  border-radius: 5px 5px 0px 0px;
  margin: 1px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &:hover {
    color: $textcolor2;
    background: $terciarycolor;
    cursor: pointer;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  


  }

}

#restxt{
 
}

p#restxt {

  color: black;
  text-align: center;
  border-radius: 5px;
  z-index: 2;
  
}