textarea, #notes{
    color: $textcolor2;
    font-weight: bolder;
    resize: none;
}

.btn{
    border: none;
    padding: 5px;
    font-weight: bold;
    background: $quartycolor ;
    color:$textcolor1;

}

.btn:hover{
  color:$textcolor2;
  background: $terciarycolor;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  
}

